<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="happy.mjstudio.service">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Service">
        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".MyForegroundService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".MyBinderExtendedService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".MyMessengerIPCService"
            android:enabled="true"
            android:exported="true"
            android:process=":messenger_service" />
        <service
            android:name="happy.mjstudio.service.MyAIDLService"
            android:enabled="true"
            android:exported="true"
            android:process=":aidl_service">
            <intent-filter>
                <action android:name="happy.mjstudio.service.MyAIDLService" />
            </intent-filter>
        </service>


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Service.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>